<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursova.Properties.Settings.DBCursConnectionString"
            connectionString="Data Source=lanister;Initial Catalog=DBCurs;User ID=sa;Password=233672890"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>